# OS
.DS_Store
Thumbs.db

# IDEs
.vs/
.idea/
.vscode/

# Node / Angular
node_modules/
dist/
.angular/

# .NET
bin/
obj/
*.user
*.suo

# Local databases
*.db
*.sqlite

# Environment / secrets
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Logs
*.log
